streamlit
python-dotenv
speechrecognition
pyaudio
langchain>=0.2.0
langchain-core>=0.2.0
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu
wikipedia
arxiv
tiktoken
